.markdown-output {
    font-size: 1em;
    line-height: 1.5em;
}

.markdown-output h1,
.markdown-output h2,
.markdown-output h3,
.markdown-output h4,
.markdown-output h5,
.markdown-output h6 {
    color: #57ad68;
    margin-top: 1em;
}

.markdown-output blockquote {
    border-left:.5em #57ad68 solid;
    padding-left: 1.5em;
    color: #999;
    font-style:italic;
}

.markdown-output a {
    color: #27292B;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.markdown-output a:hover {
    color: #5b9dd9;
}

.markdown-output em {
    color: #777;
}

.markdown-output code {
    background: #EEE;
    border: .1em #DDD solid;
    color: #2d7091;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    border-radius: .2em;
    padding: .1em .5em;
}

.markdown-output pre {
    padding: 10px;
    background: #f5f5f5;
    font: 1em/1.2em Consolas, monospace, serif;
    color: #444;
    -moz-tab-size: 4;
    tab-size: 4;
    overflow: auto;
}

.markdown-output pre code {
    background: none;
    border: none;
}

.markdown-output hr {
    height: 1px;
    margin: 2em 1em 4em 0;
    text-align: center;
    font-weight: bolder;
    border-color: #777;
    border-width: 0;
    border-style: dotted;
}

.markdown-output hr:after {
    content: "***";
    letter-spacing: 2em;
    color: #57ad68;
}