{% extends "layout.html" %}
{% block body %}
    <script type="text/javascript">
        $(function () {
            myTextarea = $("#code")[0];
            var editor = CodeMirror.fromTextArea(myTextarea, {
                mode: "text/x-markdown",
                lineNumbers: true
            });

            CodeMirror.on(editor, "changes", function (instance, changeObject) {
{#                console.log(instance.getDoc().getValue());#}
{#                console.log(instance);#}
{#                console.log(changeObject);#}
                $.ajax({
                    url:"markdown",
                    method:"post",
                    data:instance.getDoc().getValue()
                }).success(function(data){
                    $(".markdown-output").html(data);
                })
            });
        });
    </script>
    <h1>MarkDown Exmaple</h1>
    <div class="user-input">
        <textarea id="code"></textarea>
    </div>
    <div class="markdown-output"></div>
{% endblock %}