{% extends "layout.html" %}
{% block body %}
    <nav id="editor-toolbar" class="uk-navbar editor-toolbar">
        <ul class="uk-navbar-nav">
            <li class="uk-navbar-center">
                <a href="#my-id" data-uk-offcanvas>
                    <i class="uk-icon-navicon"></i>
                </a>
            </li>
            <li class="uk-navbar-center" data-uk-tooltip title="Cmd-N">
                <a id="new-file" href="javascript:void(0)"
                   class="uk-navbar-nav-subtitle">
                    <i class="uk-icon-file-text"></i>
                    <div>新建</div>
                </a>
            </li>
            <li class="uk-navbar-center uk-parent" data-uk-dropdown>
                <a id="text-header" href="javascript:void(0)"
                   class="uk-navbar-nav-subtitle">
                    <i class="uk-icon-header"></i>
                    <i class="uk-icon-caret-down"></i>
                    <div>标题</div>
                </a>
                <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom">
                    <ul class="uk-nav uk-nav-navbar">
                        <li data-uk-tooltip title="Cmd-1"><a class="text-heahder-level" data-header-level="1"
                               href="javascript:void(0)"><i
                                class="uk-icon-header"></i>一级标题</a>
                        </li>
                        <li data-uk-tooltip title="Cmd-2"><a class="text-heahder-level" data-header-level="2"
                               href="javascript:void(0)"><i
                                class="uk-icon-header"></i>二级标题</a>
                        </li>
                        <li data-uk-tooltip title="Cmd-3"><a class="text-heahder-level" data-header-level="3"
                               href="javascript:void(0)"><i
                                class="uk-icon-header"></i>三级标题</a>
                        </li>
                        <li data-uk-tooltip title="Cmd-4"><a class="text-heahder-level" data-header-level="4"
                               href="javascript:void(0)"><i
                                class="uk-icon-header"></i>四级标题</a>
                        </li>
                        <li data-uk-tooltip title="Cmd-5"><a class="text-heahder-level" data-header-level="5"
                               href="javascript:void(0)"><i
                                class="uk-icon-header"></i>五级标题</a>
                        </li>
                        <li data-uk-tooltip title="Cmd-6"><a class="text-heahder-level" data-header-level="6"
                               href="javascript:void(0)"><i
                                class="uk-icon-header"></i>六级标题</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="uk-navbar-center" data-uk-tooltip title="Ctrl-Enter">
                <a id="text-paragraph" href="javascript:void(0)"
                   class="uk-navbar-nav-subtitle">
                    <i class="uk-icon-paragraph"></i>
                    <div>段落</div>
                </a>
            </li>
            <li class="uk-navbar-center" data-uk-tooltip title="Cmd-B">
                <a id="text-bolder" href="javascript:void(0)"
                   class="uk-navbar-nav-subtitle">
                    <i class="uk-icon-bold"></i>
                    <div>加粗</div>
                </a>
            </li>
            <li class="uk-navbar-center" data-uk-tooltip title="Cmd-I">
                <a id="text-italic" href="javascript:void(0)"
                   class="uk-navbar-nav-subtitle">
                    <i class="uk-icon-italic"></i>
                    <div>倾斜</div>
                </a>
            </li>
            <li class="uk-navbar-center" data-uk-tooltip title="Cmd-U">
                <a id="text-underline" href="javascript:void(0)"
                   class="uk-navbar-nav-subtitle">
                    <i class="uk-icon-underline"></i>
                    <div>下划线</div>
                </a>
            </li>
            <li class="uk-navbar-center" data-uk-tooltip title="Shift-Cmd-U">
                <a id="text-ul" href="javascript:void(0)"
                   class="uk-navbar-nav-subtitle">
                    <i class="uk-icon-list-ul"></i>
                    <div>无序列表</div>
                </a>
            </li>
            <li class="uk-navbar-center" data-uk-tooltip title="Shift-Cmd-O">
                <a id="text-ol" href="javascript:void(0)"
                   class="uk-navbar-nav-subtitle">
                    <i class="uk-icon-list-ol"></i>
                    <div>有序列表</div>
                </a>
            </li>
            <li class="uk-navbar-center" data-uk-tooltip title="Shift-Cmd-B">
                <a id="text-quote" href="javascript:void(0)"
                   class="uk-navbar-nav-subtitle">
                    <i class="uk-icon-quote-left"></i>
                    <div>引用</div>
                </a>
            </li>
            <li class="uk-navbar-center" data-uk-tooltip title="Shift-Cmd-K">
                <a id="text-link" href="javascript:void(0)"
                   class="uk-navbar-nav-subtitle">
                    <i class="uk-icon-link"></i>
                    <div>链接</div>
                </a>
            </li>
            <li class="uk-navbar-center" data-uk-tooltip title="Cmd-K">
                <a id="text-code" href="javascript:void(0)"
                   class="uk-navbar-nav-subtitle">
                    <i class="uk-icon-code"></i>
                    <div>代码</div>
                </a>
            </li>
            <li class="uk-navbar-center" data-uk-tooltip title="Shift-Cmd-I">
                <a id="text-image" href="javascript:void(0)" class="uk-navbar-nav-subtitle">
                    <i class="uk-icon-image"></i>
                    <div>图片</div>
                </a>
            </li>
            <li class="uk-navbar-center" data-uk-tooltip title="Shift-Cmd-H">
                <a id="text-hr" href="javascript:void(0)" class="uk-navbar-nav-subtitle">
                    <i class="uk-icon-minus"></i>
                    <div>水平线</div>
                </a>
            </li>
            <li class="uk-navbar-center" data-uk-tooltip title="Cmd-Z">
                <a id="text-undo" href="javascript:void(0)"
                   class="uk-navbar-nav-subtitle">
                    <i class="uk-icon-undo"></i>
                    <div>撤销</div>
                </a>
            </li>
            <li class="uk-navbar-center" data-uk-tooltip title="Shift-Cmd-Z">
                <a id="text-redo" href="javascript:void(0)"
                   class="uk-navbar-nav-subtitle">
                    <i class="uk-icon-repeat"></i>
                    <div>重做</div>
                </a>
            </li>
            <li class="uk-navbar-center uk-parent" data-uk-dropdown>
                <a href="javascript:void(0)"
                   class="uk-navbar-nav-subtitle">
                    <i class="uk-icon-paint-brush"></i>
                    <i class="uk-icon-caret-down"></i>
                    <div>更换样式</div>
                </a>
                <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom">
                    <ul class="uk-nav uk-nav-navbar">
                        <li>
                            <a class="bind-css" data-style-name="default"
                               href="javascript:void(0)">
                                <i class="uk-icon-paint-brush"></i>
                                默认风格
                            </a>
                            <a class="bind-css" data-style-name="evernote"
                               href="javascript:void(0)">
                                <i class="uk-icon-paint-brush"></i>
                                印象笔记风格
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
    <div class="uk-grid">
        <div class="user-input uk-width-1-2">
            <textarea id="editor"></textarea>
        </div>
        <div class="markdown-output uk-width-1-2 uk-scrollable-text"
             style="height: 46em;padding: 1em;">
        </div>
    </div>

    <!-- 抽屉式边栏 -->
    <div id="my-id" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            <div class="uk-panel">
                <P>感谢您使用本软件，本软件的开发目的在于增强印象笔记的 MarkDown 功能，如果您还不了解 MarkDown 请移步<a
                        href="#" target="">维基百科</a>中查看。</P>
                <p>在使用过程中出现任何 BUG 和建议，您可以通过下面的链接向我反馈。再次感谢您的使用。谢谢。</p>
            </div>
            <div class="uk-panel">
                <a class="uk-icon-button uk-icon-github" target="_blank"
                   href="https://github.com/SeraphimLeo/evernote-markdown"></a>
                <a class="uk-icon-button uk-icon-wordpress" target="_blank"
                   href="http://www.crazy-code.tech"></a>
            </div>
        </div>
    </div>

{% endblock %}