<!doctype html>
<title>Markkdown Example</title>

<!-- Create a simple CodeMirror instance -->
<link rel="stylesheet"
      href="static/js/vendor/codemirror-5.20.2/lib/codemirror.css">
<link rel="stylesheet"
      href="static/js/vendor/codemirror-5.20.2/theme/night.css">
<link rel="stylesheet" href="static/js/vendor/uikit-2.25.0/css/uikit.min.css">
<link rel="stylesheet" href="static/js/vendor/uikit-2.25.0/css/components/tooltip.css">
<link rel="stylesheet" href="static/js/vendor/uikit-2.25.0/css/components/notify.css">
<link rel="stylesheet" href="static/style/app.css">

<script src="static/js/vendor/require.js" data-main="static/js/app.js"></script>

<link id="style-file" rel="stylesheet" href="static/style/markdown-style/default.css">

{% block body %}{% endblock %}